html {
  background-color: #E5DADA;
  overflow: hidden;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

nav {
  color: #242423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0 3vw;
  height: 10vh;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

nav a {
  text-decoration: none;
  color: #242423;
}

main {
  height: 75vh;
  margin-left: 3%;
}

main .popular-section {
  height: 50vh;
}

main .popular-section div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40vh;
      grid-template-rows: 40vh;
  -ms-grid-columns: (minmax(300px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 5vw;
}

main .popular-section div div {
  height: 100%;
  width: 100%;
  border-radius: 19px;
  -webkit-box-shadow: 0px 0px 18px gray;
          box-shadow: 0px 0px 18px gray;
  padding: 5%;
}

main .recently-section div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15vh;
      grid-template-rows: 15vh;
  -ms-grid-columns: (minmax(300px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 5vw;
}

main .recently-section div div {
  background-color: #f3f3f3;
  height: 100%;
  width: 100%;
}

footer {
  height: 15vh;
  width: 100%;
  background-color: #002642;
  margin-left: -10%;
  padding-left: 11%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr 4fr;
      grid-template-columns: 1fr 8fr 4fr;
}

footer #album-cover {
  background-color: #E5DADA;
  margin: 10px 20px;
  margin-bottom: 40px;
  border: 3px white solid;
}

footer #album-cover img {
  width: 100%;
  height: 100%;
}

footer .song-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30vw;
  color: #E5DADA;
  margin-top: -2%;
}

footer .player {
  width: 100%;
  height: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[4];
      grid-template-columns: repeat(4, -webkit-max-content);
      grid-template-columns: repeat(4, max-content);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 7.5%;
}

footer .player div {
  cursor: pointer;
}

footer .player .prev {
  width: 80px;
  height: 50px;
  background-image: url(../icons/prev.png);
  margin-right: 30%;
}

footer .player .next {
  width: 80px;
  height: 50px;
  background-image: url(../icons/next.png);
}

footer .player .play {
  width: 45px;
  height: 50px;
  background-image: url(../icons/play.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer .player .pause {
  margin-top: -10px;
  width: 45px;
  height: 65px;
  background-image: url(../icons/pause.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=main.css.map */